
# Created by https://www.gitignore.io/api/vue,nuxt,visualstudiocode
# Edit at https://www.gitignore.io/?templates=vue,nuxt,visualstudiocode

### Nuxt ###
# gitignore template for Nuxt.js projects
#
# Recommended template: Node.gitignore

# Nuxt build
.nuxt

 # Nuxt generate
dist

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

### Vue ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*
.idea

psd
thumb
sketch

###env files###
# .env-cmdrc

# End of https://www.gitignore.io/api/vue,nuxt,visualstudiocode
